Alguns links:

https://www.vooo.pro/insights/6-passos-faceis-para-aprender-o-algoritmo-naive-bayes-com-o-codigo-em-python/

http://minerandodados.com.br/index.php/2017/12/14/naive-bayes-machine-learning/

https://www.organicadigital.com/seeds/algoritmo-de-classificacao-naive-bayes/

(*) http://inteligenciaartificialbrasil.blogspot.com/2016/09/naive-bayes-frutas-exemplo.html

(**) http://www.eletrica.ufpr.br/ufpr2/professor/36/TE808/5-NaiveBayes-AM.pdf

(***) http://artificiencia.com/aprenda/algoritmo-naive-bayes/

(~) https://www.youtube.com/watch?v=3HJVRBEMwoU


(=>) https://machinelearningmastery.com/naive-bayes-classifier-scratch-python/


## https://machinelearningmastery.com/machine-learning-algorithms-from-scratch/#packages (<<< Link para compra de material)

In [1]:
import numpy as np
import pandas as pd
from numpy import genfromtxt

In [18]:
my_data = genfromtxt('datasets/geral/playtennis.csv', delimiter=',')

In [3]:
df = pd.read_csv('datasets/geral/playtennis.csv')

In [4]:
T = df.values
T

array([['sunny', 'hot', 'high', 'weak', 'no'],
       ['sunny', 'hot', 'high', 'strong', 'no'],
       ['overcast', 'hot', 'high', 'weak', 'yes'],
       ['rain', 'mild', 'high', 'weak', 'yes'],
       ['rain', 'cool', 'normal', 'weak', 'yes'],
       ['rain', 'cool', 'normal', 'strong', 'no'],
       ['overcast', 'cool', 'normal', 'strong', 'yes'],
       ['sunny', 'mild', 'high', 'weak', 'no'],
       ['sunny', 'cool', 'normal', 'weak', 'yes'],
       ['rain', 'mild', 'normal', 'weak', 'yes'],
       ['sunny', 'mild', 'normal', 'strong', 'yes'],
       ['overcast', 'mild', 'high', 'strong', 'yes'],
       ['overcast', 'hot', 'normal', 'weak', 'yes'],
       ['rain', 'mild', 'high', 'strong', 'no']], dtype=object)

In [16]:
df

     outlook temperature humidity    wind playtennis
0      sunny         hot     high    weak         no
1      sunny         hot     high  strong         no
2   overcast         hot     high    weak        yes
3       rain        mild     high    weak        yes
4       rain        cool   normal    weak        yes
5       rain        cool   normal  strong         no
6   overcast        cool   normal  strong        yes
7      sunny        mild     high    weak         no
8      sunny        cool   normal    weak        yes
9       rain        mild   normal    weak        yes
10     sunny        mild   normal  strong        yes
11  overcast        mild     high  strong        yes
12  overcast         hot   normal    weak        yes
13      rain        mild     high  strong         no

In [94]:
df[(df['outlook'] == 'sunny') & (df['playtennis']=='yes')]

   outlook temperature humidity    wind playtennis
8    sunny        cool   normal    weak        yes
10   sunny        mild   normal  strong        yes

In [59]:
counter(df,'outlook','playtennis')

Empty DataFrame
Columns: []
Index: [(no, rain), (no, sunny), (yes, overcast), (yes, rain), (yes, sunny)]

'rain'

In [6]:
T.shape[0]

14

In [7]:
def P(c,T):
    """Probabilidades a priori"""
    return np.sum(T == c)/T.shape[0]

In [286]:
def PC_(x,col,c,T):
    """Probabilidades condicionais de cada atributo"""
    A = (T[:,col] == x)
    B = (T[:,-1] == c)
    return np.sum(A & B) / np.sum(B)

In [9]:
P('no', T[:,-1])

0.35714285714285715

In [70]:
P('yes', T[:,-1])

0.6428571428571429

In [88]:
PC_('sunny',0,'yes',T)

0.2222222222222222

In [89]:
PC_('sunny',0,'no',T)

0.6

In [92]:
PC_('overcast',0,'yes',T)

0.4444444444444444

In [91]:
PC_('overcast',0,'no',T)

0.0

In [97]:
p1 , p2 = 1., 1.

for x in ['weak','strong']:
    p1 *= PC_(x,3,'yes',T)
    p2 *= PC_(x,3,'no',T)

for x in ['high','normal']:
    p1 *= PC_(x,2,'yes',T)
    p2 *= PC_(x,2,'no',T)
    

for x in ['hot','mild','cool']:
    p1 *= PC_(x,1,'yes',T)
    p2 *= PC_(x,1,'no',T)

    
for x in ['overcast','sunny','rain']:
    p1 *= PC_(x,0,'yes',T)
    p2 *= PC_(x,0,'no',T) 
    

p1 *= P('yes',T)
p2 *= P('no',T)
    
print('p(yes)={0}, p(no)={1}'.format(p1,p2))

p(yes)=3.4407797452048824e-05, p(no)=0.0

In [120]:
df_dummies = pd.get_dummies(df,prefix='Class',columns=['playtennis'])
df_dummies

     outlook temperature humidity    wind  Class_no  Class_yes
0      sunny         hot     high    weak         1          0
1      sunny         hot     high  strong         1          0
2   overcast         hot     high    weak         0          1
3       rain        mild     high    weak         0          1
4       rain        cool   normal    weak         0          1
5       rain        cool   normal  strong         1          0
6   overcast        cool   normal  strong         0          1
7      sunny        mild     high    weak         1          0
8      sunny        cool   normal    weak         0          1
9       rain        mild   normal    weak         0          1
10     sunny        mild   normal  strong         0          1
11  overcast        mild     high  strong         0          1
12  overcast         hot   normal    weak         0          1
13      rain        mild     high  strong         1          0

In [62]:
df[df['playtennis'] == 'yes'].groupby(['temperature']).count()

             outlook  humidity  wind  playtennis
temperature
cool               3         3     3           3
hot                2         2     2           2
mild               4         4     4           4

In [103]:
np.sum(df_dummies.values[:,-2])

5

In [281]:
set(df['outlook'])

{'overcast', 'rain', 'sunny'}

In [283]:
X = { (i,c):set(df[c]) for i,c in enumerate(df) }
del X[(4,'playtennis')]   # remove a coluna "playtennis"
# X.pop(('playtennis',4)) # também é possível remover com este comando
X

{(0, 'outlook'): {'overcast', 'rain', 'sunny'},
 (1, 'temperature'): {'cool', 'hot', 'mild'},
 (2, 'humidity'): {'high', 'normal'},
 (3, 'wind'): {'strong', 'weak'}}

In [284]:
[(c,i) for c,i in enumerate(df)]

[(0, 'outlook'),
 (1, 'temperature'),
 (2, 'humidity'),
 (3, 'wind'),
 (4, 'playtennis')]

In [285]:
#implementação com sérios problemas
def PC_all(X,T):
    p1 , p2 = 1., 1.
    for i in X:
        for x in X[i]:
            p1 *= PC_(x,i[0],'yes',T)
            p2 *= PC_(x,i[0],'no',T)
    return p1,p2
        
PC_all(X,T)

(5.3523240480964835e-05, 0.0)

In [205]:
T[:,1]

array(['hot', 'hot', 'hot', 'mild', 'cool', 'cool', 'cool', 'mild',
       'cool', 'mild', 'mild', 'mild', 'hot', 'mild'], dtype=object)

In [215]:
sum((T[:,-1] == 'no') & (T[:,1] == 'cool'))

1

In [206]:
sum(T[:,1] == 'hot')

4

### Implementation from  https://machinelearningmastery.com/naive-bayes-classifier-scratch-python/

In [289]:
# Example of Naive Bayes implemented from Scratch in Python
import csv
import random
import math

def loadCsv(filename):
	lines = csv.reader(open(filename, "r"))
	dataset = list(lines)
	for i in range(len(dataset)):
		dataset[i] = [float(x) for x in dataset[i]]
	return dataset

def splitDataset(dataset, splitRatio):
	trainSize = int(len(dataset) * splitRatio)
	trainSet = []
	copy = list(dataset)
	while len(trainSet) < trainSize:
		index = random.randrange(len(copy))
		trainSet.append(copy.pop(index))
	return [trainSet, copy]

def separateByClass(dataset):
	separated = {}
	for i in range(len(dataset)):
		vector = dataset[i]
		if (vector[-1] not in separated):
			separated[vector[-1]] = []
		separated[vector[-1]].append(vector)
	return separated

def mean(numbers):
	return sum(numbers)/float(len(numbers))

def stdev(numbers):
	avg = mean(numbers)
	variance = sum([pow(x-avg,2) for x in numbers])/float(len(numbers)-1)
	return math.sqrt(variance)

def summarize(dataset):
	summaries = [(mean(attribute), stdev(attribute)) for attribute in zip(*dataset)]
	del summaries[-1]
	return summaries

def summarizeByClass(dataset):
	separated = separateByClass(dataset)
	summaries = {}
	for classValue, instances in separated.items():
		summaries[classValue] = summarize(instances)
	return summaries

def calculateProbability(x, mean, stdev):
	exponent = math.exp(-(math.pow(x-mean,2)/(2*math.pow(stdev,2))))
	return (1 / (math.sqrt(2*math.pi) * stdev)) * exponent

def calculateClassProbabilities(summaries, inputVector):
	probabilities = {}
	for classValue, classSummaries in summaries.items():
		probabilities[classValue] = 1
		for i in range(len(classSummaries)):
			mean, stdev = classSummaries[i]
			x = inputVector[i]
			probabilities[classValue] *= calculateProbability(x, mean, stdev)
	return probabilities
			
def predict(summaries, inputVector):
	probabilities = calculateClassProbabilities(summaries, inputVector)
	bestLabel, bestProb = None, -1
	for classValue, probability in probabilities.items():
		if bestLabel is None or probability > bestProb:
			bestProb = probability
			bestLabel = classValue
	return bestLabel

def getPredictions(summaries, testSet):
	predictions = []
	for i in range(len(testSet)):
		result = predict(summaries, testSet[i])
		predictions.append(result)
	return predictions

def getAccuracy(testSet, predictions):
	correct = 0
	tstset_len=len(testSet)
	for i in range(tstset_len):
		if testSet[i][-1] == predictions[i]:
			correct += 1
	return (correct/tstset_len) * 100.0

def main():
	filename = 'W:\DataScience\datasets\pima\pimaindiansdiabetes.data.csv'
	splitRatio = 0.67
	dataset = loadCsv(filename)
	trainingSet, testSet = splitDataset(dataset, splitRatio)
	print(('Split {0} rows into train={1} and test={2} rows').format(len(dataset), len(trainingSet), len(testSet)) )
	# prepare model
	summaries = summarizeByClass(trainingSet)
	# test model
	predictions = getPredictions(summaries, testSet)
	accuracy = getAccuracy(testSet, predictions)
	print(('Accuracy: {0}%').format(accuracy))

In [290]:
main()

Split 768 rows into train=514 and test=254 rows
Accuracy: 73.62204724409449%

In [291]:
dset = loadCsv('W:\DataScience\datasets\pima\pimaindiansdiabetes.data.csv')

In [293]:
train_, test_ = splitDataset(dset, 0.67)

In [299]:
np.array(train_).shape

(514, 9)

In [300]:
np.array(test_).shape

(254, 9)

In [335]:
dat = [
    [1,2,1],
    [2,2,1],
    [3,3,0],
    [4,3,0],
    [0,-1,2],
    [-1,-3,2]
    
]

In [349]:
for x in zip(*dat):
    print(list(x))

[1, 2, 3, 4, 0, -1]
[2, 2, 3, 3, -1, -3]
[1, 1, 0, 0, 2, 2]

In [337]:
summarize(dat)

[(1.5, 1.8708286933869707), (1.0, 2.449489742783178)]

In [338]:
summarizeByClass(dat)

{0: [(3.5, 0.7071067811865476), (3.0, 0.0)],
 1: [(1.5, 0.7071067811865476), (2.0, 0.0)],
 2: [(-0.5, 0.7071067811865476), (-2.0, 1.4142135623730951)]}

### Links interessantes

https://www.inf.ufsc.br/~andre.zibetti/probabilidade/normal.html